
body {
    background: #ACCEEC;
    text-align: center;
}

.row{
  width: 100%;
  margin-bottom: 10px;
  margin-top: 10px;
  float: left;
}
.col3rd{
  width: 25%;
  margin-right: 5%;
  float: left;
}


.canvasBase{
  width: 200px;
  height: 200px;
}

.showCanvasRedBorder{
  outline: 1px solid red;
}

.showCanvasClearBorder{
  outline: 0px solid red;
}

.clearBtn{
  
  border: radius 5;
  margin-bottom: 10px;
}

/*.DrawerInputField{
  
}*/