
body {
    background: #ACCEEC;
    text-align: center;
}

.row{
  width: 100%;
  
}
.col3rd{
  width: 25%;
  margin-right: 5%;
  float: left;
}

.cavansBase{
  float: left;
  width: 200px;
  height: 200px;
}

.clearBtn{
  float: left;
  border: radius 5;
}

.DrawerInputField{
  float: left;
}